@{
    ViewData["Title"] = "View Team Member";
}

    <!-- Manager/HR View Team Member Page --Page where any manager or HR can see the details of an employee and make modifications or view information on a specific team member -->



<div class="body-style">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
      <div class="w3-container w3-row">
        <div class="w3-col s3">
          <img src="~/images/profile.png" class="w3-circle w3-margin-right" style="width:50px">
        </div>
        <div class="w3-col s9 w3-bar">
          <span>Welcome, <strong>Ike</strong></span><br>
          <a asp-area="" asp-controller="Messages" asp-action="MessagesIndex" class="w3-bar-item w3-button w3-text-teal"><i class="fa fa-envelope"></i></a>
          <a asp-area="" asp-controller="AccountDetails" asp-action="AccountOverviewEditView" class="w3-bar-item w3-button w3-text-white" style="background-color: #009688;"><i class="fa fa-user"></i></a>
          <a asp-area="" asp-controller="Settings" asp-action="SettingsOverview" class="w3-bar-item w3-button w3-text-teal"><i class="fa fa-cog"></i></a>
        </div>
      </div>
      <hr>
      <div class="w3-container">
        <h5>Dashboard</h5>
      </div>
      <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a asp-area="" asp-controller="AccountDetails" asp-action="AccountOverview" class="w3-bar-item w3-button w3-padding"><i class="fa fa-address-card-o fa-fw"></i>  Account Overview</a>
        <a asp-area="" asp-controller="Teams" asp-action="ViewTeam" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  View Team</a>
        <a asp-area="" asp-controller="TimeOff" asp-action="TimeOffIndex" class="w3-bar-item w3-button w3-padding"><i class="fa fa-calendar fa-fw"></i>  Time Off</a>
        <a asp-area="" asp-controller="Reviews" asp-action="reviewsindex" class="w3-bar-item w3-button w3-padding"><i class="fa fa-comment-o fa-fw"></i>  Reviews</a>
        <a asp-area="" asp-controller="Complaints" asp-action="ComplaintsIndex" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullhorn fa-fw"></i>  Complaints</a>
        <a asp-area="" asp-controller="Positions" asp-action="positionsindex" class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Position Info</a>
        <a asp-area="" asp-controller="Company" asp-action="EmployeeList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-building-o fa-fw"></i>  (HR) Company</a>
        <a asp-area="" asp-controller="Employees" asp-action="EmployeeList" class="w3-bar-item w3-button w3-padding"><i class="fa  fa-address-card-o fa-fw"></i>(HR) Employees</a>
        <a asp-area="" asp-controller="Rankings" asp-action="DepartmentRankingIndex" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bar-chart fa-fw"></i>  Ranking</a>
        <a asp-area="" asp-controller="Settings" asp-action="SettingsOverview" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
      </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


    <div class="w3-main" style="margin-left:340px;margin-top:43px;">
        <div class="main-card-container w3-card-2 w3-white w3-margin-bottom">

            <div class="main-overview">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="container col-md-12 my-2">
                                <div class="card py-2">
                                    <div class="row py-9">
                                        <div class="col-md-9 px-2">
                                            <br>
                                            <div class="card-block px-3">
                                                <li class="list-group-item my-4 w3-text-teal card-title" style="width: 69rem;"><h3> <i class="fa fa-address-card-o fa-fw"></i> Your Account Overview</h3></li>
                                                <div class="w3-col s5">
                                                    <img src="~/images/profile.png" class="w3-circle w3-margin-right" style="width:160px">
                                                </div>
                                                <br>
                                                <p class="card-text"><b>Full Name:</b> @ViewBag.ChosenEmployee.fname @ViewBag.ChosenEmployee.lname</p>
                                                <p class="card-text"><b>Position:</b> @ViewBag.ChosenEmployee.jobTitle</p>
                                                <p class="card-text"><b>Rank</b> @ViewBag.ChosenEmployee2.rank</p>
                                                <p class="card-text"><b>Status:</b> @ViewBag.ChosenEmployee.status</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row py-9">
                            <div class="card py-2">
                                <div class="card-block">
                                      <li class="list-group-item active card-title" style="width: 70rem;"><h5>Personal Data</h5></li>
                                </div>
                                <table class="table table-striped" style="width: 700px;">
                                    <tr>
                                        <th>First Name</th>
                                        <td>@ViewBag.ChosenEmployee.fname</td>
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td>@ViewBag.ChosenEmployee.lname</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>@ViewBag.ChosenEmployee2.address</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>@ViewBag.ChosenEmployee.email</td>
                                    </tr>
                                    <tr>
                                        <th>Phone Number</th>
                                        <td>@ViewBag.ChosenEmployee.phoneNumber</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="card py-2">
                                <div class="card-block">
                                   <li class="list-group-item active card-title" style="width: 70rem;"><h5>Employment Records</h5></li>
                                </div>

                                <table class="table table-striped" style="width: 700px;">
                                    <tr>
                                        <th>Employee ID</th>
                                        <td>@ViewBag.ChosenEmployee2.empId</td>
                                    </tr>
                                    <tr>
                                        <th>Manager</th>
                                        <td>@ViewBag.ChosenManager.fname @ViewBag.ChosenManager.lname</td>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <td>@ViewBag.ChosenEmployee.department</td>
                                    </tr>
                                    <tr>
                                        <th>Position</th>
                                        <td>@ViewBag.ChosenEmployee.jobTitle</td>
                                    </tr>
                                    <tr>
                                        <th>Salary</th>
                                        <td>@ViewBag.ChosenEmployee.salary</td>
                                    </tr>
                                    <tr>
                                        <th>Start Date</th>
                                        <td>@ViewBag.ChosenEmployee2.startDate</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>@ViewBag.ChosenEmployee.status</td>
                                    </tr>
                                </table>
                            </div>


<!--	IF IS TERMINATED-->		
                            @if (@ViewBag.ChosenEmployee2.status == "Terminated")
                            {
                                <div class="card py-2">
                                    <div class="card-block">
                                        <li class="list-group-item active card-title" style="width: 70rem;"><h5>Termination Details</h5></li>
                                    </div>
                                    <table class="table table-striped" style="width: 700px;">
                                        <tr>
                                            <th>Termination Reason</th>
                                            <td>@ViewBag.ChosenEmployee2.terminationReason</td>
                                        </tr>
                                        <tr>
                                            <th>Two Weeks Request</th>
                                            <td> <a asp-area="" asp-controller="Employees" asp-action="ViewNotice"> View Notice </a> </td>
                                        </tr>
                                        <tr>
                                            <th>End Date</th>
                                            <td>------</td>
                                        </tr>
                                    </table>
                                </div>
                            }			
 <!--End of if Terminated-->

                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="col-md-6">
                            <div class="card-block" style="margin-top: 300px;">
                                <a asp-area="" asp-controller="AccountDetails" asp-action="EditAccountOverviewEmployee" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> Edit Account Details (HR)</h5></center></li></a>
								
                                <a asp-area="" asp-controller="Positions" asp-action="TeamMemberPosition" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> View Positions</h5></center></li></a>

                                <a asp-area="" asp-controller="TimeOff" asp-action="TeamMemberTimeOff" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> View Time Off</h5></center></li></a>
								
                                <a asp-area="" asp-controller="Reviews" asp-action="AddReview" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> Add Review</h5></center></li></a>
                                <a asp-area="" asp-controller="Reviews" asp-action="TeamMemberReviews" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> View Reviews</h5></center></li></a>
								
                                <a asp-area="" asp-controller="Complaints" asp-action="TeamMemberComplaints" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> (HR) View Complaints</h5></center></li></a>

                                <a asp-area="" asp-controller="Messages" asp-action="AddMessage" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> (HR) Notify Manager</h5></center></li></a>
                                <a asp-area="" asp-controller="" asp-action="" asp-route-id="@ViewBag.ChosenEmployee.empID" class="w3-bar-item w3-button w3-padding"><li class="list-group-item card-title w3-text-grey" style="width: 30rem;"><center><h5><i class="fa fa-pencil-square-o"></i> (HR) Terminate</h5></center></li></a>


							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
